---
import Button from "../button/Button.astro";
import IconArrowShort from "../icons/IconArrowShort.astro";
import { Image } from 'astro:assets';
import taxi1 from  "../../../public/img/taxi1.png"
import taxi2 from  "../../../public/img/taxi2.png"
import taxi3 from  "../../../public/img/taxi3.png"
---

<div class="taxi-wr">
    <div class="taxi">
        <div class="taxi-box">
            <div class="taxi-list">
                <div class="taxi-list-head">ENSO FOR LONDON TAXIS</div>
                <div class="taxi-list-title">Available today for LEVC electric taxis.</div>
                <div id="taxi-list" class="taxi-list-items">
                    <div class="taxi-item" data-idx="0">
                        <div class="taxi-item-title">More EV range</div>
                        <!--<div class="taxi-item-txt">FOR EVS TO BE SUCCESSFUL AT SCALE THEY NEED BETTER TYRES</div>-->
                        <IconArrowShort/>
                    </div>
                    <div class="taxi-item" data-idx="1">
                        <div class="taxi-item-title">Better safety</div>
                        <!--<div class="taxi-item-txt">OFFERING RANGE-EXTENDING EV TYRES FOR LONDON TAXI MARKET</div>-->
                        <IconArrowShort/>
                    </div>
                    <div class="taxi-item" data-idx="2">
                        <div class="taxi-item-title">Lower cost</div>
                        <IconArrowShort/>
                    </div>
                    <!--<div class="taxi-item" data-idx="3">Enso Tyres is delighted to announce that it has been nominated to The Earthshot Prize, in the 'Clean Your Air' category. Thank you Cranfield University!</div>-->

                </div>
                <div class="taxi-list-btn-row">
                    <Button linkUrl="http://enso.london/">Book now
                        <IconArrowShort/>
                    </Button>
                </div>
            </div>
            <div id="taxi-img-box" class="taxi-img-box">
                <Image src={taxi1} alt="Image of a taxi" class="taxi-img taxi-img-1" loading="lazy"/>
                <Image src={taxi2} alt="Image of a taxi wheel" class="taxi-img taxi-img-2" loading="lazy"/>
                <Image src={taxi3} alt="Closeup of a taxi wheel" class="taxi-img taxi-img-3" loading="lazy"/>
                <!--<div class="taxi-img taxi-img-4"></div>-->
            </div>
        </div>
        <div class="taxi-box-btn-row">
            <div id="taxi-btn-prev" class="taxi-btn-prev">
                <IconArrowShort/>
            </div>
            <div id="taxi-btn-next" class="taxi-btn-next">
                <IconArrowShort/>
            </div>
        </div>
    </div>
</div>

<script>
    async function fetchAsync(url) {
        let response = await fetch(url);
        let data = await response.json();
        return data;
    }

    function htmlToElement(html) {
        var template = document.createElement('template');
        template.innerHTML = html;
        return template.content.firstChild;
    }

    let maxIdx = 2;
    let currIdx = -1;
    const taxiSelect = (idx: number) => {
        currIdx = idx;

        const currentTaxiItem = document.querySelector('.taxi-item.play');
        const currentImg = document.querySelector('.taxi-img.play');

        const newItem = document.querySelector(`#taxi-list .taxi-item:nth-child(${1 + +idx})`);
        const newImg = document.querySelector(`#taxi-img-box .taxi-img:nth-child(${1 + +idx})`);

        if (currentTaxiItem) {
            currentTaxiItem.classList.remove('play');
        }
        if (currentImg) {
            currentImg.classList.remove('play');
        }

        if (newItem) {
            newItem.classList.add('play');
        }

        if (newImg) {
            newImg.classList.add('play');
        }
    }

    const addEvent = () => {
        const taxiListBox = document.getElementById('taxi-list');

        taxiListBox.querySelectorAll('.taxi-item').forEach(node => node.addEventListener(
            "mouseenter",
            (event: MouseEvent) => {
                if (event.target instanceof HTMLElement) {
                    let idx: number = +event.target.dataset.idx;
                    taxiSelect(idx);
                }
            },
            false,
        ));

        const changeTaxiItem = (shift: number) => {
            if (shift > maxIdx) {
                shift = 0;
            }
            if (shift < 0) {
                shift = maxIdx;
            }
            taxiSelect(shift);
        }

        const btnPrev = document.getElementById('taxi-btn-prev');
        btnPrev.addEventListener('click', () => {
            changeTaxiItem(currIdx - 1);
        });
        const btnNext = document.getElementById('taxi-btn-next');
        btnNext.addEventListener('click', () => {
            changeTaxiItem(currIdx + 1);
        });

    }

    const loadTaxi = async () => {
        /*
        const taxi = await fetchAsync('https://ensotyres.com/wp/wp-json/api/posts');
        const taxiListBox = document.getElementById('taxi-list');
        const taxiImgBox = document.getElementById('taxi-img-box');

        maxIdx = Math.min(taxi.length - 1, maxIdx);

        taxiListBox.innerHTML = "";
        taxiImgBox.innerHTML = "";
        for (let i = 0; i < 4 && i < taxi.length; i++) {
            let taxiItem = taxi[i];
            let htmlTaxiTxtString = `<div class="taxi-item" data-idx="${i}"><div class="taxi-item-title">${taxiItem.title}</div><div class="taxi-item-txt">${taxiItem.excerpt}</div><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><polygon points="7 7 15.586 7 5.293 17.293 6.707 18.707 17 8.414 17 17 19 17 19 5 7 5 7 7"/></svg></div>`;
            taxiListBox.appendChild(htmlToElement(htmlTaxiTxtString));

            // let htmlTaxiImgString = `<div class="taxi-img" style={"background-image: url("${taxiItem.image}")"}></div>`;
            taxiImgBox.innerHTML = `${taxiImgBox.innerHTML}<div class="taxi-img" style='background-image: url(${taxiItem.image});'></div>`;
        }
        */
        taxiSelect(0);

        addEvent();
    }

    loadTaxi();

</script>

<style lang="scss" is:global>
    .taxi-wr {
        background-color: var(--clr-light);

        padding-left: 90px;
        padding-right: 90px;

        @media only screen and (max-width: 1100px) {
            padding-left: 25px;
            padding-right: 25px;
        }

        .taxi {
            height: 80vh;
            min-height: 440px;

            padding-top: 55px;
            padding-bottom: 55px;

            .taxi-box {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .taxi-list {
                    width: 50%;
                    font-family: "BrandonGrotesque";

                    .taxi-list-head {
                        font-weight: bold;
                        color: var(--clr-medium);
                        font-size: 15px;
                        margin-bottom: 10px;
                    }

                    .taxi-list-title {
                        font-size: 30px;
                        font-weight: bold;
                        color: var(--clr-dark);
                    }

                    .taxi-list-items {
                        padding: 20px 20px 20px 0;

                        display: flex;
                        flex-direction: column;
                        align-items: baseline;

                        .taxi-item {
                            display: block;
                            position: relative;
                            padding: 20px 110px 20px 0;

                            cursor: pointer;

                            color: grey;
                            text-decoration: none;

                            transition: all .7s;

                            .taxi-item-title {
                                font-size: 22px;
                            }

                            .taxi-item-txt {
                                font-family: BrandonGrotesque;
                                font-size: 14px;
                                font-weight: normal;
                            }

                            svg {
                                position: absolute;
                                height: 30px;
                                transform: rotate(45deg);
                                right: 50px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                //opacity: .5;
                                transition: all .7s;
                                color: lightgray;
                            }

                            &:hover,
                            &.play {
                                color: var(--clr-darker);

                                svg {
                                    right: 30px;
                                    color: var(--clr-darker);
                                }
                            }

                            @media only screen and (max-width: 1100px) {
                                padding-right: 55px;

                                svg {
                                    right: 25px;
                                }

                                &:hover {
                                    svg {
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }

                    .taxi-list-btn-row {
                        display: flex;

                        .btn {
                            font-weight: 700;
                            font-size: 18px;
                        }

                    }
                }

                .taxi-img-box {
                    width: 50%;
                    height: 100%;

                    position: relative;

                    .taxi-img {
                        position: absolute;

                        $offset: 30px;
                        top: -$offset;
                        bottom: $offset;

                        height: 100%;
                        width: auto;

                        left: 0;
                        right: 0;

                        background-position: center center;
                        background-size: cover;

                        opacity: 0;
                        transition: all 1.5s;

                        &.play {
                            opacity: 1;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }

            .taxi-box-btn-row {
                display: none;
            }

            @media only screen and (max-width: 1000px) {
                height: 90vh;

                .taxi-box {
                    flex-direction: column;

                    .taxi-list {
                        width: 100%;

                        .taxi-list-items {
                            padding-right: 0;
                            position: relative;
                            height: 80px;
                            overflow: hidden;

                            .taxi-item {
                                position: absolute;
                                top: 0;
                                opacity: 0;
                                padding: 0;

                                &.play {
                                    display: block;
                                    opacity: 1;
                                    top: 15px;
                                }

                                svg {
                                    display: none;
                                }
                            }
                        }

                        .taxi-list-btn-row {
                            display: none;
                        }
                    }

                    .taxi-img-box {
                        width: 100%;

                        .taxi-img {
                            transition: all .3s;
                        }
                    }
                }

                .taxi-box-btn-row {
                    margin-top: 16px;
                    padding: 0 15px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    > div {
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }

                    .taxi-btn-prev {
                        svg {
                            transform: rotate(-135deg);
                        }
                    }

                    .taxi-btn-next {
                        svg {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
</style>
