---
import Slide from "./Slide.astro";
---


<div class="slider-wr">
    <div id="slider" class="slider">
        <Slide
                title="ABOUT ENSO"
                imgUrl={"/enso/img/About-WIP-cut.png"}>
            <p>
                All tires wear down, creating air pollution. Most tires are also inefficient, limiting range.
            </p>
            <p>
                ENSO is a tire technology company that makes better tires for electric vehicles, to extend EV range and reduce tire pollution.
            </p>
        </Slide>
        <Slide
                title="WHAT IS TIRE POLLUTION?"
                imgUrl={"/enso/img/Impact-WIP-cut1.png"}>
            <p>
                No tire lasts forever. Every time a tire accelerates, brakes or turns, it wears down, emitting thousands of tiny particles into our air.
            </p>
            <p>
                Globally, tires emit 6 million tons of pollution each year<sup>1</sup>. More air pollution is generated from tires than tailpipes<sup>2</sup>. Tire dust represents 28% of primary microplastics floating in our oceans<sup>3</sup>.
            </p>
            <div class="slide-links">
                <a href="https://www.imperial.ac.uk/news/243333/prioritise-tackling-toxic-emissions-from-tyres/" target="_blank"><sup>1</sup>Imperial College London, 2023.</a>
                <a href="https://uk-air.defra.gov.uk/assets/documents/reports/cat09/1907101151_20190709_Non_Exhaust_Emissions_typeset_Final.pdf" target="_blank"><sup>2</sup>DEFRA, UK Government, 2019.</a>
                <a href="https://www.iucn.org/news/secretariat/201702/invisible-plastic-particles-textiles-and-tyres-major-source-ocean-pollution-%E2%80%93-iucn-study" target="_blank"><sup>3</sup>IUCN, 2017.</a>
            </div>

        </Slide>
        <div class="slider-controls">
            <div data-idx="0"></div>
            <div data-idx="1"></div>
            <!--
                        <div data-idx="2"></div>
                        <div data-idx="3"></div>
            -->
        </div>

    </div>
</div>

<script>

    const initSlider = () => {
        const animationTimeMs = 800;
        const slideWrCls = 'slide-wr';
        const slidesSelector = `.${slideWrCls}`;
        const playClsIn = 'slide-in';
        const playClsOut = 'slide-out';
        const playSelector = `.${playClsIn}`;
        const sliderControlsSel = '.slider-controls > div';
        const sliderControlActiveSel = `.slider-controls > div.${playClsIn}`;

        const slider = document.getElementById('slider');

        let sliderPlaying = false;
        const sliderPlay = (idx?: number) => {
            const slides = slider.querySelectorAll(slidesSelector);
            const activeSlide = slider.querySelector(playSelector);
            const slidesBtns = slider.querySelectorAll(sliderControlsSel);

            if (!activeSlide) {
                slides[0].classList.add(playClsIn);
                slidesBtns[0].classList.add(playClsIn);
                return;
            }

            if (sliderPlaying) {
                return;
            }

            const slidesArr = Array.prototype.slice.call(slides);
            const activeIdx = slidesArr.indexOf(activeSlide);

            if (idx && idx == activeIdx)
                return;

            sliderPlaying = true;
            setTimeout(() => {
                sliderPlaying = false;
            }, animationTimeMs);

            const slidesBtnActive = slider.querySelector(sliderControlActiveSel);
            slidesBtnActive?.classList.remove(playClsIn);

            const newIdx = idx || activeIdx + 1
            if (newIdx < slides.length) {
                slides[newIdx].classList.add(playClsIn);
                slidesBtns[newIdx].classList.add(playClsIn);
            } else {
                slides[0].classList.add(playClsIn);
                slidesBtns[0].classList.add(playClsIn);
            }

            activeSlide.classList.add(playClsOut);
            setTimeout(() => {
                activeSlide.classList.remove(playClsIn, playClsOut);
            }, animationTimeMs);

            return;

            const activeSlides = slider.querySelectorAll(`.${slideWrCls}:not(.${playClsIn})`);

            if (activeSlides.length > 1) {
                activeSlides[activeSlides.length - 1].classList.add(playClsIn);
            } else {
                slider.querySelectorAll(`.${slideWrCls}.${playClsIn}`).forEach(slide => slide.classList.remove(playClsIn));
            }
        }

        sliderPlay();

        const slidesBtns = slider.querySelectorAll(sliderControlsSel);
        slidesBtns.forEach(btn => btn.addEventListener('click', (event: Event) => {
            event.stopPropagation();
            const idx = event.target.dataset.idx;
            sliderPlay(idx);
        }));

        slider.addEventListener("click", () => {
            sliderPlay();
        });
    }

    initSlider();

</script>

<style lang="scss" is:global>
    .slider-wr {
        background-color: var(--clr-lightest);
    }

    .slider {
        height: 90vh;
        min-height: 440px;

        position: relative;
        overflow: hidden;

        cursor: pointer;

        .slider-controls {
            position: absolute;
            display: flex;
            align-items: center;
            z-index: 10;
            left: 50%;
            bottom: 25px;
            height: 25px;

            transform: translateX(-50%);

            display: none;

            > div {
                margin: 0 20px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                backdrop-filter: invert(1);
                cursor: pointer;
                //filter: blur(2px);

                clip-path: circle(7px);

                transition: clip-path .7s linear;

                &.slide-in {
                    clip-path: circle(15px);
                    cursor: default;
                }

                &:hover {
                    clip-path: circle(14px);
                    transition-duration: .3s;
                }
            }
        }

        .slide-wr {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            overflow: hidden;

            clip-path: polygon(-10% 0, 0 0, -10% 100%, 0 100%);

            background-color: var(--clr-lightest);
            color: var(--clr-dark);

            z-index: 1;

            &:nth-child(even) {
                background-color: var(--clr-dark);
                color: var(--clr-light);
            }

            .slide {
                position: absolute;

                height: 100%;
                width: 100%;

                display: flex;
                justify-content: space-between;
                /*align-items: center;*/

                /*padding-left: 90px;*/
                /*padding-right: 90px;*/

                /*padding-top: 55px;*/
                /*padding-bottom: 75px;*/

                .slide-txt-box {
                    width: 30%;

                    margin-left: 110px;
                    margin-top: 90px;
                    margin-bottom: 90px;

                    transition: all 1s 0s;

                    display: flex;
                    flex-direction: column;

                    .slide-title {
                        font-size: 18px;
                        font-family: BrandonGrotesque;
                        font-weight: bold;
                        color: var(--clr-medium);
                    }

                    .slide-txt {
                        font-family: BrandonGrotesque;
                        font-size: 24px;
                        font-weight: bold;
                        flex-grow: 1;
                        position: relative;

                        display: flex;
                        flex-direction: column;

                        .slide-links {
                            margin-top: auto;

                            a {
                                display: block;
                                color: var(--clr-light);
                                font-weight: normal;
                                font-size: 16px;
                            }
                        }
                    }

                    @media only screen and (max-width: 1100px) {
                        width: 45%;
                    }
                }

                .slide-img-box {
                    height: 100%;

                    width: 60%;
                    /*background-image: url("/img/slide2.png");*/
                    background-position: center center;
                    background-size: cover;

                    position: relative;

                    img {
                        position: absolute;
                        /*top: 50%;*/
                        /*left: 50%;*/
                        /*transform: translate(-50%, -50%);*/
                        bottom: 0;
                        object-fit: contain;
                        /*width: 110%;*/
                        /*height: 110%;*/
                        transition: all 0.9s 0.1s;

                        max-height: 100%;
                        width: 100%;
                    }
                }

                @media only screen and (max-width: 1100px) {
                    padding-left: 25px;
                    padding-right: 25px;
                }

                @media only screen and (max-width: 900px) {
                    flex-direction: column;

                    .slide-txt-box {
                        width: 100%;
                        margin-bottom: 25px;
                        margin-top: 45px;
                    }

                    .slide-img-box {
                        width: 100%;
                    }
                }
            }

            &.slide-in {
                z-index: 2;
                transition: clip-path .8s;
                clip-path: polygon(0 0, 110% 0, 100% 100%, -10% 100%);

                .slide {
                    .slide-txt-box {
                        margin-left: 90px;

                        @media only screen and (max-width: 900px) {
                            margin-left: 0;
                        }
                    }

                    .slide-img-box {
                        img {
                            /*width: 100%;*/
                            /*height: 100%;*/
                        }
                    }
                }

                &.slide-out {
                    z-index: 1;
                    //transition: clip-path 1ms;

                    .slide {
                        .slide-txt-box {
                            margin-left: 70px;
                        }
                    }

                }

            }
        }
    }
</style>
