---
interface Props {
    title: string;
    txt: string;
    // color?: string;
    // bgColor?: string;
    imgUrl?: string;
}

const {title, txt, color = 'black', bgColor = 'white', imgUrl} = Astro.props;
const wrImgUrl = `url(${imgUrl})`;
---

<!--<div class="slide-wr" style={`color: ${color};background-color: ${bgColor}`}>-->
<div class="slide-wr">
    <div class="slide">
        <div class="slide-txt-box">
            <div class="slide-title">{title}</div>
            <div class="slide-txt">
                {txt}
                <slot/>
            </div>
        </div>
        <div class="slide-img-box">
            <img src={imgUrl}/>
        </div>
    </div>
</div>

<!--
<style lang="scss" define:vars={{wrImgUrl}}>
    .slide-wr .slide .slide-img-box {
        background-image: var(&#45;&#45;wrImgUrl) !important;
        background-image: none !important;
    }
</style>
-->
